.App {
  text-align: center;
  background-color: antiquewhite;
}

.App > h1 {
  padding: 10px;
  font-size: xx-large;
}

.searchInput {
  padding: 10px;
  background: lightblue;
  border: 1px solid green;
}
